/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';

i {
  margin-right: 7px;
}

body {
  color: rgb(224 176 104);  
  font-family: "CaskaydiaCove Nerd Font";
  font-size: 14px;
  font-weight: bold;
  overflow: hidden;
}

html,
body,
#root {
  height: 42px;
}

#root {
  border: 3px solid rgb(49 50 68);
  background: rgb(17 17 27);
  border-radius: 10px;
  margin-right: 8px;
  margin-left: 8px;
  margin-top: 8px;
}

.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 4px;
}

.left,
.center,
.right {
  display: flex;
  align-items: center;
}

.center {
  justify-self: center;
  margin-bottom: 2px;
  color: rgb(247 118 142);
  background: rgb(247 118 142 / 0%);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

.right {
  justify-self: end;
  margin-right: 2px;
  margin-bottom: 2px;
}

.binding-mode,
.tiling-direction,
.audio,
.network,
.memory,
.cpu {
  margin-right: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

.audio {
  color: rgb(224 176 104);
  background: rgb(224 176 104 / 0%);
  
}

.network {
  color: rgb(158 206 106);
  background: rgb(158 206 106 / 0%);
}

.memory {
  color: rgb(42 195 222);
  background: rgb(42 195 222 / 0%);
}

.cpu {
  color: rgb(122 162 247);
  background: rgb(122 162 247 / 0%); 
}

.weather {
  color: rgb(187 154 247);
  background: rgb(187 154 247 / 0%);
  padding-top: 4px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
}

.workspaces {
  display: flex;
  align-items: center;
  margin-right: 4px;
}

.workspace {
  background: 0;
  margin-right: 4px;
  color: #45475a;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  font-size: 24px;

  &.displayed {
    color: #7f849c;
  }

  &.focused,
  &:hover {
    color: #cba6f7;
  }
}

.binding-mode,
.tiling-direction {
  background: rgb(255 157 100 / 0%);
  border: 0;
  color: rgb(255 157 100);
  border-radius: 7px;
  line-height: 1;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 0px;
  font-size: 18px;
  cursor: pointer;
}

.binding-mode {
  margin-right: 4px;
}

.cpu .high-usage {
  color: #900029;
}

.battery {
  position: relative;
}

.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}

.media {
  background: rgb(24 24 37 / 0%);
  color: rgb(180 249 248);
  display: flex;
  align-items: center;
  margin-left: 6px;
}

.media-button {
  color: rgb(180 249 248);
  border: 0;
  background: rgb(180 249 248 / 0%);
  margin-left: 6px;
  font-size: 18px;
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 7px;
}

.media-next {
  color: rgb(180 249 248);
  border: 0;
  background: rgb(180 249 248 / 0%);
  margin-left: 6px;
  font-size: 18px;
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 7px;
}

.media-back {
  color: rgb(180 249 248);
  border: 0;
  background: rgb(180 249 248 / 0%);
  margin-left: 10px;
  font-size: 18px;
  margin-bottom: 1px;
  padding-top: 4px;
  padding-bottom: 2px;
  padding-left: 6px;
  padding-right: 6px;
  border-radius: 7px;
}

.media-text {
  font-size: 12px;
  border: 0;
  background: rgb(180 249 248 / 10%);
  padding-top: 6px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  margin-bottom: 1px;
}
